<a href="https://colab.research.google.com/github/brijw/DataAnalytics/blob/main/ner_comments_model_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#os is used to change the directory
import os
#spacy is used for the NER
import spacy
#pandas is used to read, edit, and write tabular data
import pandas as pd


from google.colab import drive

# Accessing My Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MSC/Analytics/Corpus_Files/Comments.csv')
#docs = data['Comment']

In [ ]:
from spacy import displacy
from collections import Counter
import en_core_web_sm
# spacy.cli.download("en_core_web_lg")
nlp = en_core_web_sm.load()

# import en_core_web_lg
# nlp_lg = en_core_web_lg.load()

In [ ]:
sourcefiledirectory = '/content/drive/MyDrive/Colab Notebooks/MSC/Analytics/Corpus_Files/'
#changes the working directory to the directory specified above
os.chdir(sourcefiledirectory)
infilename = 'Comments.csv'

In [ ]:
#creates pandas dataframe with your specified input file, using the first row as a header
df = pd.read_csv(infilename, header=0)
#creates a new column, ner_text, with entities extracted from a column titled 'Comments'
df['ner_comments'] = df['Comment'].astype(str).apply(lambda x: list({(ent.text.strip(), ent.label_) for ent in nlp(x).ents}))
#prints the values from ner_text
print(df['ner_comments'])

0                                                      []
1                                                      []
2                                [(API, ORG), (MTN, ORG)]
3       [(Internship, ORG), (Infrastructure of Soroti ...
4                                    [(the 4 week, DATE)]
                              ...
3869                                                   []
3870                                                   []
3871                                                   []
3872                                                   []
3873                                                   []
Name: ner_comments, Length: 3874, dtype: object

In [ ]:
df.head(20)

,comment_id,Comment,ner_comments
0,5,djfjkdfjkjkffdk edited,[]
1,41,Faith has exhibited enthusiasm in taking on th...,[]
2,49,He now has now understood the structure of gra...,"[(API, ORG), (MTN, ORG)]"
3,50,The Intern was oriented on ICT setup and Infra...,"[(Internship, ORG), (Infrastructure of Soroti ..."
4,52,The student was oriented on the organization s...,"[(the 4 week, DATE)]"
5,53,Activities well completed,[]
6,54,finished on time,[]
7,55,The student's weekly progress was justifiably ...,"[(weekly, DATE)]"
8,56,Noted,[]
9,57,She found this very interesting as she was abl...,[]
10,58,"Partially done, expected a better result based...","[(Steven, PERSON)]"
11,63,Done to partial satisfaction. Hopefully learni...,[]
12,65,Confirmed done as specified.,[]
13,66,He faced some problem of identifying the symbo...,[]
14,68,"This activity took some time to be completed, ...",[]
15,71,He knows the requirements of how and his to in...,[]
16,80,A little delays and constant supervision. The ...,"[(Mahad, ORG)]"
17,85,He seemed not to have an idea about setting up...,[]
18,88,Student learnt and demonstrated system adminis...,[]
19,96,Noted and tasks completed,[]

In [ ]:
df.tail(20)

,comment_id,Comment,ner_comments
3854,7781,Miss Nakityo was able to work on the Score fea...,[]
3855,7788,Performing user acceptance tests helped the in...,[]
3856,7795,"Student faced the challenge of a lost laptop, ...",[]
3857,7796,He is always looking for tasks. Very enthusias...,[]
3858,7797,His system’s development supervisor says he is...,[]
3859,7816,.,[]
3860,7820,Completed:\n Configuring the net...,"[(Putty), ORG), (Vlans, NORP), (VLAN, ORG)]"
3861,7821,Completed:\n Configuring the net...,"[(Putty), ORG), (VLAN, ORG)]"
3862,7822,Engaging teammate,[]
3863,7823,Engaging teammate,[]
3864,7824,Engaging teammate,[]
3865,7867,Successfully installed Microsoft word to the c...,"[(Microsoft, ORG)]"
3866,7868,Hope you have learned something from your expe...,[]
3867,7871,Improved inter personal skill while working wi...,[]
3868,7905,She is learning how to adapt to practical way ...,[]
3869,7914,Completed working with APIs by fetching data f...,[]
3870,7939,THEY ARE GOOD STUDENTS,[]
3871,7940,he was really good with tablespaces,[]
3872,7941,he is commited,[]
3873,7942,The above headlines were achieved by the stude...,[]

In [ ]:
outfilename = 'ner_sm_'+infilename
# df.to_csv(outfilename)