<a href="https://colab.research.google.com/github/brijw/DataAnalytics/blob/main/ner_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#os is used to change the directory
import os
#spacy is used for the NER
import spacy
#pandas is used to read, edit, and write tabular data
import pandas as pd


from google.colab import drive

# Accessing My Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/MSC/Analytics/Comments.xlsx')
#docs = data['Comment']

In [3]:
from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()

In [4]:
sourcefiledirectory = '/content/drive/MyDrive/Colab Notebooks/MSC/Analytics/'
#changes the working directory to the directory specified above
os.chdir(sourcefiledirectory)
infilename = 'Copy of corpus.csv'

In [5]:


#creates pandas dataframe with your specified input file, using the first row as a header
df = pd.read_csv(infilename, header=0)
#creates a new column, ner_text, with entities extracted from a column titled 'text'
df['ner_text'] = df['Comment'].astype(str).apply(lambda x: list(nlp(x).ents))
#prints the values from ner_text
print(df['ner_text'])
#creates a new column, ner_comments, with entities extracted from a column titled 'comments'
df['ner_comments'] = df['Comment'].astype(str).apply(lambda x: list(nlp(x).ents))
#prints the values from ner_comments
print(df['ner_comments'])

0                []
1                []
2                []
3                []
4       [(4, week)]
           ...
3869             []
3870             []
3871             []
3872             []
3873             []
Name: ner_text, Length: 3874, dtype: object
0                []
1                []
2                []
3                []
4       [(4, week)]
           ...
3869             []
3870             []
3871             []
3872             []
3873             []
Name: ner_comments, Length: 3874, dtype: object

In [6]:
df.head()

,Comment,Classes,ner_text,ner_comments
0,djfjkdfjkjkffdk edited,Very Poor,[],[]
1,faith exhibited enthusiasm taking project hand...,Very Poor,[],[]
2,understood structure grail different component...,Very Poor,[],[]
3,intern oriented ict setup infrastructure sorot...,Very Poor,[],[]
4,student oriented organization structure develo...,Very Poor,"[(4, week)]","[(4, week)]"

In [7]:
outfilename = 'ner_'+infilename
df.to_csv(outfilename)